from pathlib import Path
from openapi_cli_gen import build_cli

app = build_cli(
    spec=Path(__file__).parent / "spec.yaml",
    name="{{ name }}",
)


def main():
    app()


if __name__ == "__main__":
    main()
